<p-dialog
  header="Conectar Whatsapp"
  [modal]="true"
  [(visible)]="isDialog"
  [style]="{ width: '25rem' }"
  (onHide)="hideDialog()"
  appendTo="body"
>
  <span class="p-text-secondary block mb-8">Crie uma nova sessão para Whatsapp.</span>
  <div class="flex-row-responsive">
    <app-layout-campo
      [error]="errorValidacao['nm_sessao']"
      [label]="'Nome da sessão: (*) '"
      [width]="'md:w-12/12'"
      [sublabel]="'Informe o nome da sessão'"
      [describedby]="'nm_sessao'"
    >
      <input
        title="nm_sessao"
        pInputText
        id="nm_sessao"
        [(ngModel)]="objeto.nm_sessao"
        class="w-full"
        [ngClass]="{ 'ng-dirty ng-invalid': errorValidacao['nm_sessao'] }"
      />
    </app-layout-campo>
  </div>

  <!-- <div *ngIf="objeto.qrCode" class="qr-container">
    <h3>Escaneie o QR Code abaixo no seu WhatsApp:</h3>
    <img [src]="objeto.qrCode" alt="QR Code do WhatsApp" style="width: 250px; height: 250px" />
  </div> -->

  <div *ngIf="!objeto.qrCode">
    <p>Clique em "Iniciar Sessão" para gerar o QR Code.</p>
  </div>

  <div class="flex justify-end gap-2 mt-4">
    <p-button label="Iniciar Sessão" icon="pi pi-check" (click)="onSave()" />
  </div>
</p-dialog>
