<!-- ORÇAMENTO - VISUALIZAÇÃO (READ ONLY) -->

<div *ngIf="!loading" class="max-w-6xl mx-auto space-y-8  p-4  rounded-lg "   [ngClass]="{
    'bg-gray-100 text-gray-900': !layoutService.isDarkTheme(),
    'bg-black-600 text-gray-100': layoutService.isDarkTheme()
  }">

    <!-- CABEÇALHO + STATUS -->
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">

        <div>
            <h2 class="text-2xl font-semibold ">
                Orçamento {{ orcamento.nuOrcamento }}
            </h2>
            <p class="text-sm   ">
                Emitido em {{ orcamento.dtEmissao | date:'dd/MM/yyyy' }}
            </p>
        </div>

        <span class="inline-flex items-center px-4 py-1 rounded-full text-sm font-medium tracking-wide"
            [ngClass]="statusClass(orcamento.status)">
            {{ orcamento.status }}
        </span>

    </div>

    <!-- CLIENTE -->
    <p-card>
        <h4 class="text-base font-semibold  mb-4">
            Cliente
        </h4>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 text-sm   ">
            <div>
                <span class="block text-sm   ">Nome:</span>
                <span class="font-semibold text-base">{{ orcamento.cliente.nome }}</span>
            </div>

            <div>
                <span class="block text-sm   ">E-mail:</span>
                <span class="font-semibold text-base">{{ orcamento.cliente.email }}</span>
            </div>

            <div>
                <span class="block text-sm   ">Telefone:</span>
                <span class="font-semibold text-base">{{ orcamento.cliente.telefone }}</span>
            </div>
        </div>
    </p-card>

    <!-- ITENS DO ORÇAMENTO -->
    <p-card>
        <h4 class="text-base font-semibold  mb-4">
            Itens / Serviços
        </h4>

        <p-accordion>

            <p-accordion-panel *ngFor="let item of orcamento.itens; let i = index" [value]="i">

                <!-- HEADER DO ITEM -->
                <p-accordion-header>
                    <div class="flex justify-between items-center w-full pr-2">
                        <span class="font-medium   ">
                            {{ item.descricao }}
                        </span>
                        <span class="font-semibold ">
                            {{ item.subtotal | currency:'BRL' }}
                        </span>
                    </div>
                </p-accordion-header>

                <!-- CONTEÚDO DO ITEM -->
                <p-accordion-content>

                    <!-- RESUMO DO ITEM -->
                    <div class="grid grid-cols-4 gap-4 text-sm    mb-4">
                        <div>
                            <span class=" text-xs   ">Quantidade: {{ item.quantidade }}</span>
                        </div>
                        <div class="text-left">
                            <span class="block text-xs   ">Custo: {{ item.precoCusto | currency:'BRL' }}</span>
                        </div>
                        <div class="text-left">
                            <span class="block text-xs   ">Materiais: {{ item.precoUnitario | currency:'BRL' }}</span>
                        </div>
                        <div class="text-right">
                            <span class="block text-xs   ">Total: {{ item.subtotal | currency:'BRL' }}</span>
                        </div>
                    </div>

                    <!-- MATERIAIS / AJUSTES -->
                    <div class="border rounded-lg overflow-hidden">
                        <table class="w-full text-sm">
                            <thead class="bg-gray-50 text-gray-600">
                                <tr>
                                    <th class="text-left px-3 py-2">Composição do material</th>
                                    <!-- <th class="text-right px-3 py-2">Qtd</th> -->
                                    <th class="text-right px-3 py-2">Valor</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let mat of item.materiais" class="border-t last:border-b-0">
                                    <td class="px-3 py-2">
                                        {{ mat.descricao }}
                                    </td>
                                    <!-- <td class="px-3 py-2 text-right">
                                        {{ mat.quantidade }}
                                    </td> -->
                                    <td class="px-3 py-2 text-right">
                                        {{ mat.valor | currency:'BRL' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </p-accordion-content>

            </p-accordion-panel>

        </p-accordion>
    </p-card>


    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">

        <!-- RESUMO DA PRECIFICAÇÃO -->
        <p-card class="  h-full">
            <h4 class="text-base font-semibold  mb-4">
                Resumo da Precificação
            </h4>

            <div class="flex justify-between text-sm mb-2">
                <span class="">Método:</span>
                <span class="font-medium text-base">
                    {{ orcamento.metodoPrecificacao }}
                </span>
            </div>

            <div class="flex justify-between text-sm mb-2">
                <span class="">Valor base:</span>
                <span class="text-base">
                    {{ orcamento.vlPrecoBase | currency:'BRL' }}
                </span>
            </div>

            <p-divider />

            <div class="flex justify-between text-xl font-bold pt-3 mt-3">
                <span>Valor final</span>
                <span>
                    {{ orcamento.vlPrecoFinal | currency:'BRL' }}
                </span>
            </div>
        </p-card>

        <!-- HISTÓRICO DE STATUS -->
        <p-card class="h-full">
            <h4 class="text-base font-semibold  mb-4">
                Histórico de Status
            </h4>

            <ul class="space-y-3 text-sm">
                <li *ngFor="let h of orcamento.historicoStatus" class="flex items-start gap-3   ">

                    <span class="text-gray-400 leading-6">•</span>

                    <div class="flex flex-col">
                        <span class="font-medium">
                            {{ h.statusAnterior ?? 'ELABORACAO'}} → {{ h.statusAtual }}
                        </span>
                        <span class="text-gray-400 text-xs">
                            {{ h.dataHora | date:'dd/MM/yyyy HH:mm' }} · {{ h.usuario }}
                        </span>
                    </div>
                </li>
            </ul>
        </p-card>

    </div>


</div>