<app-layout-card-config [title]="'Ajustes de Preço'" [subtitle]="'Defina regras dos materias que alteram o valor final do orçamento.'"
    [icon]="'pi pi-sliders-h'" (salvar)="onSave()">



    <div class="grid grid-cols-1 lg:grid-cols-12 gap-6">
        <!-- LISTA -->
        <div class="lg:col-span-8">

            <div class="rounded-xl shadow-sm  p-4">

                <div class="flex items-center justify-between mb-4">
                    <p class="text-lg font-semibold">
                        Ajustes dos materiais cadastrados
                    </p>
                </div>

                <p-table [value]="lista" [rows]="5" [paginator]="true" responsiveLayout="scroll" selectionMode="single"
                    [(selection)]="itemSelecionado" dataKey="idMetodoAjuste" (onRowSelect)="onEdit($event)">

                    <ng-template pTemplate="header">
                        <tr class="text-sm text-gray-600">
                            <th class="px-3 py-2">Material</th>
                            <th class="px-3 py-2 hidden md:table-cell">Condição</th>
                            <th class="px-3 py-2 hidden md:table-cell">Ajuste</th>
                            <th class="px-3 py-2 w-16 text-center"></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-item>
                         <tr class="border-t text-sm"  [pSelectableRow]="item">
                            <td class="px-3 py-2 font-medium">{{ item.nmCampoPersonalizado }}</td>
                            <td class="px-3 py-2 hidden md:table-cell">{{ item.vlCondicao }}</td>
                           <td class="px-3 py-2 hidden md:table-cell">
                                {{ item.tpOperacao === 'DESCONTO' ? '-' : '+' }}
                                {{ item.tpAjuste === 'PERCENTUAL' ? item.vlIncremento + '%' : 'R$ ' + item.vlIncremento
                                }}
                            </td>
                            <td class="px-3 py-2 text-center">
                                <p-button icon="pi pi-trash" class="p-button-text p-button-danger"
                                    (click)="confirmarDelete(item)">
                                </p-button>
                            </td>
                        </tr>
                    </ng-template>

                </p-table>

            </div>


        </div>


        <!-- FORMULÁRIO -->
        <div class="lg:col-span-4">

            <div class=" rounded-xl shadow-sm p-4 sticky top-4">

                <div class="flex items-center gap-2 mb-4">
                    <i class="pi pi-plus-circle text-primary"></i>
                    <p class="text-lg font-semibold">
                        {{ campoSelecionado ? 'Editar ajuste' : 'Novo ajuste' }}
                    </p>
                </div>

                <div class="flex flex-col gap-4">

                    <!-- Campo -->
                    <app-layout-campo label="Material: (*)" [error]="errorValidacao['idCampoPersonalizado']">
                        <p-select [options]="listaCampos" optionLabel="name" optionValue="code" placeholder="Selecione"
                            [(ngModel)]="objeto.idCampoPersonalizado" class="w-full" (onChange)="onCampoChange()"
                            [ngClass]="{ 'ng-dirty ng-invalid': errorValidacao['idCampoPersonalizado'] }">
                        </p-select>
                    </app-layout-campo>

                    <!-- Valor esperado -->
                    <app-layout-campo *ngIf="campoSelecionado" label="Valor esperado: (*)"
                        [error]="errorValidacao['vlCondicao']">

                        <p-toggleswitch *ngIf="campoSelecionado.tpCampoPersonalizado === 'BOOLEAN'"
                            [(ngModel)]="objeto.vlCondicao" [ngModelOptions]="{ standalone: true }"
                            [ngClass]="{ 'ng-dirty ng-invalid': errorValidacao['vlCondicao'] }">
                        </p-toggleswitch>

                        <input *ngIf="campoSelecionado.tpCampoPersonalizado === 'TEXT'" pInputText class="w-full"
                            placeholder="Ex: VIP" [(ngModel)]="objeto.vlCondicao"
                            [ngModelOptions]="{ standalone: true }"
                            [ngClass]="{ 'ng-dirty ng-invalid': errorValidacao['vlCondicao'] }" />

                        <!-- NUMBER -->
                        <input *ngIf="campoSelecionado.tpCampoPersonalizado === 'NUMBER'" pInputText class="w-full"
                            placeholder="Ex: 100" [(ngModel)]="objeto.vlCondicao"
                            [ngModelOptions]="{ standalone: true }"
                            [ngClass]="{ 'ng-dirty ng-invalid': errorValidacao['vlCondicao'] }" />

                    </app-layout-campo>

                    <!-- Tipo de ajuste -->
                    <app-layout-campo label="Tipo de ajuste: (*)" [error]="errorValidacao['tpAjuste']">
                        <p-select [options]="listaTiposAjuste" optionLabel="name" optionValue="code"
                            placeholder="Selecione" [(ngModel)]="objeto.tpAjuste" class="w-full"
                            [ngClass]="{ 'ng-dirty ng-invalid': errorValidacao['tpAjuste'] }">
                        </p-select>
                    </app-layout-campo>

                    <!-- Operação -->
                    <app-layout-campo label="Operação: (*)" [error]="errorValidacao['tpOperacao']">
                        <p-select [options]="listaTiposOperacao" optionLabel="name" optionValue="code"
                            placeholder="Selecione" [(ngModel)]="objeto.tpOperacao" class="w-full"
                            [ngClass]="{ 'ng-dirty ng-invalid': errorValidacao['tpOperacao'] }">
                        </p-select>
                    </app-layout-campo>

                    <!-- Valor -->
                    <app-layout-campo label="Valor do ajuste: (*)" *ngIf="objeto.tpAjuste "
                        [error]="errorValidacao['vlIncremento']">

                        <p-inputnumber *ngIf="objeto.tpAjuste === 'PERCENTUAL'" suffix="%" class="w-full"
                            [(ngModel)]="objeto.vlIncremento" [min]="0" [max]="100"
                            [ngClass]="{ 'ng-dirty ng-invalid': errorValidacao['vlIncremento'] }">
                        </p-inputnumber>

                        <p-inputnumber *ngIf="objeto.tpAjuste === 'VALOR'" mode="currency" currency="BRL" locale="pt-BR"
                            class="w-full" [(ngModel)]="objeto.vlIncremento" inputId="minmax" mode="decimal" [min]="0"
                            [max]="999999" locale="pt-BR" [minFractionDigits]="2" [maxFractionDigits]="4"
                            [ngClass]="{ 'ng-dirty ng-invalid': errorValidacao['vlIncremento'] }">
                        </p-inputnumber>

                    </app-layout-campo>

                </div>

            </div>


        </div>

    </div>
</app-layout-card-config>